

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-5">
            <h1 class="text-white"> LIST OF PROJECTS</h1>
        </div>
        <div class="col-md-4 mt-5">
            <a href="/projects/new"><button class="btn btn-primary circle-rounded ml-5"><i class="fa fa-plus"
                        aria-hidden="true" style="font-size: 20px;"></i></button></a>
        </div>
    </div>
</div>
<hr style="background-color: white;">
<hr style="background-color: white;">
<div class="container">
    <div class="row">
        {{#each projects}}
        <div class="col-md-4">
            <div class="card m-2" style="background-color:#fee12b">
                <i class="fa fa-paperclip mt-2 ml-2" aria-hidden="true" style="font-size: 20px; color:red"></i>
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <hr>
                    <img class="w-25 h-30" src="{{image}}" alt="projectimage">
                    <p class="card-text">{{description}}</p>
                    <hr>
                    <a href="/projects/{{_id}}" class="card-link text-dark font-weight-bold " >Detail</a>
                    <a href="/projects/{{_id}}/delete" class="card-link text-dark font-weight-bold " >Delete</a>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>